a {
    color: white;
    text-decoration: none;
}

body {
    align-items: center;
    background-color: #333;
    color: white;
    display: flex;
    font-family: "Inter", sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    text-align: center;
}

.cv-button {
	border-radius: 5px;
	border: 1px solid white;
	display: inline-block;
	font-family: Antonio;
	font-size: 18px;
    margin-bottom: 30px;
    margin-top: 50px;
	padding: 10px 15px;
    text-transform: uppercase;
}

.name {
    font-family: "DM Serif Display", sans-serif;
    font-size: 105px;
    line-height: 0.9;
    padding: 0px;
    position: absolute;
    top: 53%;
    right: calc(44%);
    transform: translate(0, 5%);
    z-index: 2;
}

.position {
    font-family: "Inter", sans-serif;
    margin-top: 50px;
}

.profile {
    border-radius: 10px;
    display: block;
    height: 500px;
    margin: 0 auto 0 240px;
    position: relative;
    z-index: 1;
}

.school {
    font-size: 20px;
}

.title {
    font-size: 30px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    body {
        align-items: start;
        padding-top: 20px;
    }

    .container {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .cv-button {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .position {
        margin-top: 30px;
    }

    .profile {
        height: auto;
        margin: 0 auto;
        width: 75%;
    }

    .title {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .name {
        font-size: 45px;
        position: static;
        margin-top: 30px;
        text-shadow: unset;
        transform: none;
    }
}
